body {
  background: #eee;
  text-align: center;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  box-sizing: border-box;
  position: absolute;
  width: 200px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 1rem;
}

.btn {
  padding: 0.5rem 0.8rem;
  border: 1px solid #000;
}